*
*/
*/*
node_modules/*
!certificates
certificates/*
!config
!config/*
!modules
!modules/*
!views
!views/*
!wallets
wallets/*
!actionCLI.js
!blockchainCLI.js
!chainCLI.js
!lightNode.js
!minerCLI.js
!netCLI.js
!package.json
!package-lock.json
!readme.md
!transactionCreator.js
!txCLI.js
!txEditor.js
!txgen.js
!walletCLI.js
!.gitignore
!config
!config/*
